<html>
<head>
	<title>Dashboard</title>
	<meta charset="utf-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</head>


<body>
 <!-- text log on the right of the screen that is split in 2 parts. first part is 3 times bigger than the second part -->
 <!-- cards with group name, counters for added and failed, file upload button. in the center of the screen, in lines of 3 -->
 <!-- forms to create new group, edit proxy settings and upload new accounts are at the bottom of the screen -->
 <div class="container-fluid mt-3">
  <div class="row">
    <div class="col-9">
	<div class="row row-cols-3 g-3">
	{% for group in groups %}
	<!-- card fits content with inner padding of 20px -->
	<div class="col">
	<div class="card" id="{{ group['name'] }}">
	    <div class="card-body">
		<!-- selector for user list. has label 'User List' -->
	        <h6 class="text-center card-subtitle mb-2 text-muted">Added: -- Failed: --</h6>
		<!-- textbox for group name with label 'Group Name' -->
		<label for="group" class="form-label">Group</label>
		<input type="text" class="form-control" id="group" name="group" rows="1" placeholder="{{ group['name'] }}"></input>
		<label for="userlist" class="form-label">User list</label>
		<select id="userlist" class="form-select" aria-label="User List">
			{% for userlist in userlists %}
			<option value="{{ userlist['name'] }}" {% if userlist['name'] == group['userlist'] %} selected {% endif %}>{{ userlist['name'] }}</option>
			{% endfor %}
		</select>
	      <form action="/group_delete" method="post">
		<input type="hidden" name="group" value="{{ group }}">
		<div class="row mx-3 my-3">
		  <div class="col">
		    <button type="button" class="btn btn-danger">Delete</button>
		  </div>
		</div>
	      </form>
	    </div>
	</div>
	</div>
	{% endfor %}
    </div>
    </div>
    <div class="col-3">
		<form action="/start" method="post">
			<button type="submit" class="btn btn-success btn-lg btn-block w-100">Save and start</button>
			</form> 
      <div class="card">
	<div class="card-body">
	<h5 class="card-title">Log</h5>
	<div class="card-text overflow-auto">
		<b> Waiting to be updated... </b>
	</div>
	</div>
      </div>
      </div>
  </div>
  <!-- stick to the bottom of the screen and padding on the left and right of 15px -->
 
  <div class="row fixed-bottom mx-3 my-3">
    <div class="col-3">
      <div class="card">
	<div class="card-body">
	<h5 class="card-title">New Group</h5>
	<form action="/add_group" method="post">
	  <div class="mb-3">
	    <label for="groupname" class="form-label">Group Name</label>
	    <input type="text" class="form-control" id="groupname" name="groupname">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
	</div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
	<div class="card-body">
	<h5 class="card-title">Settings</h5>
	<!-- textbox for proxy settings with label 'URL' -->
	<form action="/set_settings" method="post">
	  <div class="mb-3">
	    <label for="proxyurl" class="form-label">Proxy URL</label>
	    <input type="text" class="form-control" id="proxyurl" name="proxyurl" value="{{ settings['proxy_url'] }}">
	    <!-- label and input number for max additions per day -->
	    <label for="maxadd" class="form-label">Max additions per day</label>
	    <input type="number" class="form-control" id="maxadd" name="maxadd" value="{{ settings['maxadd'] }}">
	    <!-- label and input number for max requests per day -->
	    <label for="maxreq" class="form-label">Max requests per day</label>
	    <input type="number" class="form-control" id="maxreq" name="maxreq" value="{{ settings['maxreq'] }}">
	  </div>
	  <button type="submit" class="btn btn-primary">Save</button>
	</form>
	</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
	<div class="card-body">
	<h5 class="card-title">Upload Accounts</h5>
	<form action="/upload_accounts" method="post" enctype="multipart/form-data">
	  <input type="file" class="form-control" name="file" id="file" accept=".zip,.rar,.7zip">
	  <input type="submit" value="Upload" name="submit" class="btn btn-primary">
	</form>
	</div>
      </div>
      <div class="card">
	<div class="card-body">
	<h5 class="card-title">Upload user list</h5>
	<form action="/upload_userlist" method="post" enctype="multipart/form-data">
	  <input type="file" class="form-control" name="file" id="file" accept=".txt, .csv">
	  <input type="submit" value="Upload" name="submit" class="btn btn-primary">
	</form>
	</div>
      </div>
    </div>
  </div>
 </div>
</body>
</html>
<script>
  // update groups every 5 seconds
  setInterval(function() {
    fetch('/get_groups')
      .then(response => response.json())
      .then(data => {
	for (var i = 0; i < data.length; i++) {
	  var group = data[i];
	  var card = document.getElementById(group.name);
	  card.getElementsByClassName('card-subtitle')[0].innerHTML = "Added: " + group.added + " Failed: " + group.failed;
	}
      });
  }, 1000);
  // update log every 5 seconds
  setInterval(function() {
    fetch('/log')
      .then(response => response.json())
      .then(data => {
	var log = document.getElementById('log');
	log.innerHTML = data;
      });
  }, 1000);
  // delete group
  var buttons = document.getElementsByClassName('btn-danger');
  for (var i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener('click', function() {
      var group = this.parentNode.parentNode.parentNode.parentNode.id;
      fetch('/delete_group', {
	method: 'POST',
	headers: {
	  'Content-Type': 'application/json'
	},
	body: JSON.stringify({
	  'group': group
	})
      })
	.then(response => response.json())
	.then(data => {
	  if (data.success) {
	    location.reload();
	  }
	});
    });
  }
  // send request when userlist is changed
  var userlists = document.getElementsByClassName('form-select');
  for (var i = 0; i < userlists.length; i++) {
    userlists[i].addEventListener('change', function() {
      var group = this.parentNode.parentNode.parentNode.id;
      var userlist = this.value;
      fetch('/set_userlist', {
	method: 'POST',
	headers: {
	  'Content-Type': 'application/json'
	},
	body: JSON.stringify({
	  'group': group,
	  'userlist': userlist
	})
      })
	.then(response => response.json())
	});
    });
  }
</script>
